{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %} 

    <div class="container"  >
        <h1 class="display-3" style="text-align: center;"><b>Bienvenidos a la Libreria</b></h1>
        <p class="lead" style="text-align: center;"><b>Todos los libros en un solo lugar</b></p>
        <hr class="my-2">
        <p class="lead" style="text-align: center;">
            <a class="btn btn-primary btn-lg " href="{%url 'libros'%}" role="button">Ir al catalogo!</a>
        </p>
    </div>


{% endblock %}
