{% extends "base.html" %}

{% block titulo %} Nosotros {% endblock %}

{% block contenido %} 

<style>
    .contenedor {
        display: flex;
    }
</style>


<h1><p><b><font face="Helvetica">¿Quienes somos?<font color="#4FEBDB">.</font></font></b></p></h1>
<div class="contenedor">

<font face="Helvetica"><hx<div class="et_pb_text_inner"><p class="p1" style="text-align: justify;">Libros Mengueche es una <strong>libreria Nacional con ENVIO a TODO el PAIS</strong> creada por 2 jovenes Argentinos que ha crecido exponencialmente en los ultimos años.</p>

    <p class="p1" style="text-align: justify;">Nos apasiona la lectura, y queriamos crear un negocio en el que gracias a nosotros todos puedan tener libros en todo el pais.</p>

    <p class="p1" style="text-align: justify;">Trabajamos en equipo con Librerias de todo el Pais para ofrecerte todos los libros que necesites.</p></div></font>


</div>

    {% endblock %}
